<div>

  <!-- NAVBAR -->
  <nav>
    <div class="nav-wrapper white-text light-blue accent-3">
      <a href="#!" class="brand-logo fullHeight"><img class="fullHeight" src="http://nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" alt=""></a>
      <a href="#!" data-activates="mobile-navbar-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" *ngFor="let item of centers.reverse()">
        <li><a href="#!">{{ item }}</a></li>
      </ul>
      <ul id="mobile-navbar-menu" class="side-nav">
        <div *ngFor="let item of centers.reverse()">
          <li><a href="#!">{{ item }}</a></li>
        </div>
      </ul>
    </div>
  </nav>
  <!-- /NAVBAR -->

  <router-outlet></router-outlet>

</div>
