<div class="container">

  <div>
    <h4>Dual energy converter</h4>
    <div class="row">

      <!-- MAGNITUDE -->
      <div class="input-field col s12 m4 l4">

        <form method="post">
          <input id="value1" type="number" name="value1" class="validate input-no-spinner" [(ngModel)]="inputData.value1">
          <label for="value1">Value</label>
        </form>

      </div>

      <!-- UNIT TO CONVERT FROM -->
      <div class="input-field col s12 m4 l4">

        <select id="unit1" name="unit1" materialize="material_select" [materializeSelectOptions]="energyUnits" (change)="setUnit1($event.target.value)">
          <option value="" disabled selected>Units</option>
          <option *ngFor="let unit of energyUnits" [value]="unit">{{unit}}</option>
        </select>
        <label for="unit1">From</label>

      </div>

      <!-- UNIT TO CONVERT TO -->
      <div class="input-field col s12 m4 l4">

        <select id="unit2" name="unit2" materialize="material_select" [materializeSelectOptions]="energyUnits" (change)="setUnit2($event.target.value)">
          <option value="" disabled selected>Units</option>
          <option *ngFor="let unit of energyUnits" [value]="unit">{{unit}}</option>
        </select>
        <label for="unit2">To</label>

      </div>

    </div>

    <!-- SUBMIT AND RESET BUTTONS -->
    <div class="row">

      <a class="col s4 m4 l4 push-s1 push-m1 push-l1 waves-effect waves-light btn" (click)="getData()">Convert</a>

      <a class="col s4 m4 l4 push-s3 push-m3 push-l3 waves-effect waves-light btn" (click)="resetForm()">Reset</a>

    </div>

    <!-- SHOW RESULTS -->
    <div class="center">

      <p *ngIf="outputData" class="flow-text grey-text text-darken-2">
        {{outputData.data1}} {{outputData.unit1}} = {{outputData.result}}
      </p>

    </div>
  </div>

  <hr>
  <br><br>

  <div>
    <h4>Multiplex energy converter</h4>
  </div>

</div>
